<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328158827727-m8nobnp4krj5e5fjrqqjrrlv5uqn1fc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328158827727-m8nobnp4krj5e5fjrqqjrrlv5uqn1fc6</string>
	<key>API_KEY</key>
	<string>AIzaSyDx5JeNPKQ2rWQNooD7-l0HxxV3Ka7sIHc</string>
	<key>GCM_SENDER_ID</key>
	<string>328158827727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>attano.yukiteru.messenger.messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-3e6de</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-3e6de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328158827727:ios:16ef8aaf8efd32f63153ba</string>
</dict>
</plist>